.section-testimonial {
  /* height: 250px; */
  padding: 50px 0;
  margin-bottom: 100px;
  background-color: rgb(137, 0, 182);
}

.section-testimonial header {
  font-size: 30px;
  color: #fff;
}

.slider-1 {
  padding-bottom: 200px;
}

.testimonial-body {
  padding: 2rem 0;
}

.testimonial-body p {
  text-align: left;
  color: #fff;
  padding-bottom: 20px;
  font-size: 16px;
}

.testimonial-footer ul {
}

.testimonial-body ul li {
  text-align: right;
  color: #fff;
}

.testimonial-body ul li:first-child {
  font-size: 20px;
}

.section-testimonial figure {
  width: 100%;
}

.section-testimonial figure img {
  width: 200px;
  max-height: 150px;
}

.testimonial-content-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
}

.item {
  background-color: transparent;
}
